/* ===========================
   WHY CHOOSE US
=========================== */

.why{
    max-width:1300px;
    margin:80px auto;
    padding:0 20px;
}

.why-header{
    text-align:center;
    margin-bottom:50px;
}

.why-header h2{
    font-size:2.2rem;
    color:#111827;
    margin-bottom:15px;
}

.why-header p{
    color:#6b7280;
    max-width:650px;
    margin:auto;
    line-height:1.7;
}

/* ===========================
   GRID
=========================== */

.why-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

/* ===========================
   CARD
=========================== */

.why-card{
    background:#fff;
    border:1px solid #dcfce7;
    border-radius:20px;
    padding:35px 25px;
    text-align:center;
    transition:.35s;
    cursor:pointer;
}

.why-card:hover{
    transform:translateY(-8px);
    box-shadow:0 18px 35px rgba(0,0,0,.08);
    border: color #BBF7D0;
}

.why-icon{
    width:75px;
    height:75px;
    margin:auto;
    margin-bottom:22px;
    border-radius:18px;
   background:#DCFCE7;
    color:#15803D;

    display:flex;
    justify-content:center;
    align-items:center;
}

.why-card h3{
    font-size:20px;
    color:#111827;
    margin-bottom:15px;
}

.why-card p{
    color:#6b7280;
    line-height:1.7;
    font-size:15px;
}

/* ===========================
   TABLET
=========================== */

@media(max-width:992px){

.why-grid{
grid-template-columns:repeat(2,1fr);
}

}

/* ===========================
   MOBILE
=========================== */

@media(max-width:768px){

.why{
padding:0 15px;
margin:60px auto;
}

.why-header{
margin-bottom:35px;
}

.why-header h2{
font-size:1.8rem;
}

.why-header p{
font-size:15px;
}

.why-grid{
grid-template-columns:1fr;
gap:18px;
}

.why-card{
padding:28px 20px;
border-color: #BBF7D0;
}

.why-icon{
width:65px;
height:65px;
}

.why-card h3{
font-size:18px;
}

}